In [1]:
# import assumes dse_database.py is in current directory
from dse_database import DSEDatabase

In [3]:
# must set user and password; defaults - database='heavylifters', host='mandrake.arvixe.com'
db = DSEDatabase(user='jlevin', password='ucsdcapstone')

DSEDatabase instance shutting down...

In [4]:
# submit raw SQL and get a pandas DataFrame
df1 = db.fetch_df_sql('select IRI_KEY, WEEK_KEY, CATEGORY, DOLLARS from heavylifters.summary_product_2010 limit 10')

In [7]:
df1

   IRI_KEY  WEEK_KEY CATEGORY  DOLLARS
0   200059      1583       BL    57.99
1   200059      1583       BR    30.45
2   200059      1583       CB  2918.05
3   200059      1583       CC  1015.45
4   200059      1583       CF  1002.11
5   200059      1583       CG  1458.95
6   200059      1583       DE   137.22
7   200059      1583       DP   130.19
8   200059      1583       FD  1391.80
9   200059      1583       FP   801.63

In [5]:
# submit table name and column projections and get a pandas DataFrame
df2 = db.fetch_df_tbl('summary_product_2010', ['IRI_KEY', 'WEEK_KEY', 'CATEGORY', 'DOLLARS'])

In [6]:
df2

   IRI_KEY  WEEK_KEY CATEGORY  DOLLARS
0   200059      1583       BL    57.99
1   200059      1583       BR    30.45
2   200059      1583       CB  2918.05
3   200059      1583       CC  1015.45
4   200059      1583       CF  1002.11
5   200059      1583       CG  1458.95
6   200059      1583       DE   137.22
7   200059      1583       DP   130.19
8   200059      1583       FD  1391.80
9   200059      1583       FP   801.63