First Version
Abhijeet

In [158]:
import pandas as pd
import numpy as np
from pandas.core.series import Series
import glob
import datetime

In [159]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [160]:
import mysql.connector

In [161]:
#cursor = conn.cursor()

#query = ("SELECT * FROM heavylifters.raw_data_product_2011 LIMIT 20;")
#query = ("SELECT * FROM heavylifters.data_panel_08_to_11 LIMIT 20;")
query = ("SELECT PANID, MINUTE_KEY, UNITS, dp.OUTLET, DOLLARS, dp.IRI_KEY, COLUPC , dp.DATE_YEAR, dp.CATEGORY , \
          WEEK_KEY, left(COLUPC,2)/1 as SY, MID(colupc,3,2) as GE, MID(colupc,5,5) as VEND, \
          MID(colupc,9,5)/1 as ITEM, MINUTE_KEY/1440, MARKET_NAME, DESCRIPTION \
          FROM heavylifters.data_panel_08_to_11 as dp \
          join data_delivery_stores_01_to_11 as ds \
          on dp.IRI_KEY = ds.IRI_KEY \
          join dim_category as dc \
          on dp.CATEGORY = dc.CATEGORY\
          and dp.Date_Year = ds.Date_Year \
          where dp.Date_Year = 2011 ORDER by Market_Name LIMIT 5000;")

In [ ]:
df_mysql = pd.read_sql(query, con=conn)    
print 'loaded dataframe from MySQL. records:', len(df_mysql)

In [162]:
config = {
  'user': 'jlevin',
  'password': 'ucsdcapstone',
  'host': 'mandrake.arvixe.com',
  'database': 'heavylifters',
  'raise_on_warnings': True,
}

conn = mysql.connector.connect(**config)

#conn.close()

In [163]:
#cursor = conn.cursor()

#query = ("SELECT * FROM heavylifters.raw_data_product_2011 LIMIT 20;")
#query = ("SELECT * FROM heavylifters.data_panel_08_to_11 LIMIT 20;")
'''query2 = ("SELECT distinct sp11.IRI_Key,sp11.OUTLET,sp11.WEEK_KEY,ds.Market_Name, \
ds.Date_Year,ds.MskdName,ds.OPEN_WEEK,ds.CLSD_WEEK,ds.EST_ACV,ds.Date_Year, \
sp11.CATEGORY,sp11.OUTLET,sp11.DOLLARS,sp11.UNITS,sp11.Count_Rows \
FROM data_delivery_stores_01_to_11 as ds, summary_product_2011 as sp11 \
WHERE ds.Market_Name='LOS ANGELES' OR ds.Market_Name='CHICAGO' \
and ds.IRI_KEY = sp11.IRI_Key LIMIT 1000;")'''

'''query2 = ("SELECT distinct ds.Market_Name, \
ds.Date_Year,ds.MskdName,ds.OPEN_WEEK,ds.CLSD_WEEK,ds.EST_ACV,ds.Date_Year, \
FROM data_delivery_stores_01_to_11 as ds, summary_product_2011 as sp11 \
WHERE ds.Market_Name='LOS ANGELES' OR ds.Market_Name='CHICAGO' \
LIMIT 1000;")'''

'''query2 = ("select distinct sp10.IRI_Key,sp10.OUTLET,sp10.WEEK_KEY,ds.Market_Name, \
ds.Date_Year,ds.OPEN_WEEK,ds.CLSD_WEEK,ds.Date_Year, \
sp10.CATEGORY,sp10.OUTLET,sp10.DOLLARS,sp10.UNITS,sp10.Count_Rows \
FROM data_delivery_stores_01_to_11 as ds, summary_product_2010 as sp10 \
where (ds.Market_Name='LOS ANGELES' or ds.Market_Name='CHICAGO') \
and sp10.Date_Year=ds.Date_Year \
and ds.IRI_KEY = sp10.IRI_Key \
LIMIT 1000;")'''

query2 = ("(select distinct sp10.IRI_Key,sp10.WEEK_KEY,sp10.OUTLET,sp10.WEEK_KEY,ds.Market_Name, \
ds.Date_Year,ds.OPEN_WEEK,ds.CLSD_WEEK,ds.Date_Year, \
sp10.CATEGORY,sp10.OUTLET,sp10.DOLLARS,sp10.UNITS,sp10.Count_Rows \
FROM data_delivery_stores_01_to_11 as ds, summary_product_2010 as sp10 \
where  (ds.Market_Name='LOS ANGELES' or ds.Market_Name='CHICAGO') \
and sp10.Date_Year=ds.Date_Year \
and ds.IRI_KEY = sp10.IRI_Key \
and (sp10.CATEGORY = 'BR' OR sp10.CATEGORY = 'SS' OR sp10.CATEGORY= 'TB' OR sp10.CATEGORY = 'SO' OR sp10.CATEGORY='CF' ) \
LIMIT 5000) \
union \
(select distinct sp11.IRI_Key,sp11.WEEK_KEY,sp11.OUTLET,sp11.WEEK_KEY,ds2.Market_Name,  \
ds2.Date_Year,ds2.OPEN_WEEK,ds2.CLSD_WEEK,ds2.Date_Year,  \
sp11.CATEGORY,sp11.OUTLET,sp11.DOLLARS,sp11.UNITS,sp11.Count_Rows  \
FROM data_delivery_stores_01_to_11 as ds2, summary_product_2011 as sp11  \
where  (ds2.Market_Name='LOS ANGELES' or ds2.Market_Name='CHICAGO') \
and (sp11.CATEGORY = 'BR' OR sp11.CATEGORY = 'SS' OR sp11.CATEGORY= 'TB' OR sp11.CATEGORY = 'SO' OR sp11.CATEGORY='CF' ) \
and sp11.Date_Year=ds2.Date_Year \
and ds2.IRI_KEY = sp11.IRI_Key  \
Limit 5000);")

In [164]:
df_mysqls2 = pd.read_sql(query2, con=conn)    
print 'loaded dataframe from MySQL. records:', len(df_mysqls2)

loaded dataframe from MySQL. records: 10000

In [94]:
#cursor.close()
conn.close()

In [124]:
df_mysqls2.columns,df_mysqls2.head(20)

(Index([u'IRI_Key', u'WEEK_KEY', u'OUTLET', u'WEEK_KEY', u'Market_Name',
        u'Date_Year', u'OPEN_WEEK', u'CLSD_WEEK', u'Date_Year', u'CATEGORY',
        u'OUTLET', u'DOLLARS', u'UNITS', u'Count_Rows'],
       dtype='object'),
     IRI_Key  WEEK_KEY OUTLET  WEEK_KEY  Market_Name  Date_Year  OPEN_WEEK  \
 0    200272      1583     GK      1583  LOS ANGELES       2010        873
 1    200272      1583     GK      1583  LOS ANGELES       2010        873
 2    200272      1583     GK      1583  LOS ANGELES       2010        873
 3    200272      1583     GK      1583  LOS ANGELES       2010        873
 4    200272      1583     GK      1583  LOS ANGELES       2010        873
 5    200272      1584     GK      1584  LOS ANGELES       2010        873
 6    200272      1584     GK      1584  LOS ANGELES       2010        873
 7    200272      1584     GK      1584  LOS ANGELES       2010        873
 8    200272      1584     GK      1584  LOS ANGELES       2010        873
 9    200272      1584     GK      1584  LOS ANGELES       2010        873
 10   200272      1585     GK      1585  LOS ANGELES       2010        873
 11   200272      1585     GK      1585  LOS ANGELES       2010        873
 12   200272      1585     GK      1585  LOS ANGELES       2010        873
 13   200272      1585     GK      1585  LOS ANGELES       2010        873
 14   200272      1585     GK      1585  LOS ANGELES       2010        873
 15   200272      1586     GK      1586  LOS ANGELES       2010        873
 16   200272      1586     GK      1586  LOS ANGELES       2010        873
 17   200272      1586     GK      1586  LOS ANGELES       2010        873
 18   200272      1586     GK      1586  LOS ANGELES       2010        873
 19   200272      1586     GK      1586  LOS ANGELES       2010        873

     CLSD_WEEK  Date_Year CATEGORY OUTLET  DOLLARS  UNITS  Count_Rows
 0        9998       2010       BR     GK  7442.54    865         186
 1        9998       2010       CF     GK  2364.28    309         115
 2        9998       2010       SO     GK  2174.62   1352         261
 3        9998       2010       SS     GK  3773.88   1337         156
 4        9998       2010       TB     GK   306.96     84          39
 5        9998       2010       BR     GK  5209.66    639         173
 6        9998       2010       CF     GK  2352.85    342         127
 7        9998       2010       SO     GK  2165.74   1222         259
 8        9998       2010       SS     GK  2755.56   1000         166
 9        9998       2010       TB     GK   404.13    106          38
 10       9998       2010       BR     GK  5055.80    693         160
 11       9998       2010       CF     GK  2198.75    307         119
 12       9998       2010       SO     GK  2187.61   1186         260
 13       9998       2010       SS     GK  2856.03   1033         158
 14       9998       2010       TB     GK   342.49     93          43
 15       9998       2010       BR     GK  4683.46    636         162
 16       9998       2010       CF     GK  2177.86    331         121
 17       9998       2010       SO     GK  2627.62   1526         269
 18       9998       2010       SS     GK  2719.57   1050         155
 19       9998       2010       TB     GK   306.21     90          36  )

In [ ]:
df_mysqls2[df_mysqls2['Market_Name']=='CHICAGO' ]

### Now work on aggregating weather data

In [203]:
#get weather data (extracted from mysql) for o'hare and lax, for all days of 2010 and 2011
df_weath=pd.read_csv('la_chic_10_11_daily.csv')
#get iri weeks. Will have to aggregate weather by week.
df_weeks=pd.read_csv('iri_weeks.csv')
#date_min and max are strings

In [204]:
df_weath[df_weath['PrecipTotal']=='T'] # no trace?

Empty DataFrame
Columns: [WBAN, YYYYMMDD, Tmax, TmaxFlag, Tmin, TminFlag, Tavg, TavgFlag, Depart, DepartFlag, DewPoint, DewPointFlag, WetBulb, WetBulbFlag, Heat, HeatFlag, Cool, CoolFlag, Sunrise, SunriseFlag, Sunset, SunsetFlag, CodeSum, CodeSumFlag, Depth, DepthFlag, Water1, Water1Flag, SnowFall, SnowFallFlag, PrecipTotal, PrecipTotalFlag, StnPressure, StnPressureFlag, SeaLevel, SeaLevelFlag, ResultSpeed, ResultSpeedFlag, ResultDir, ResultDirFlag, AvgSpeed, AvgSpeedFlag, Max5Speed, Max5SpeedFlag, Max5Dir, Max5DirFlag, Max2Speed, Max2SpeedFlag, Max2Dir, Max2DirFlag]
Index: []

[0 rows x 50 columns]

In [205]:
df_weeks.tail()

     IRI_Week             date_min             date_max  Date_Year  Date_Month
100      1683  2011-11-28 00:00:00  2011-12-04 00:00:00       2011          12
101      1684  2011-12-05 00:00:00  2011-12-11 00:00:00       2011          12
102      1685  2011-12-12 00:00:00  2011-12-18 00:00:00       2011          12
103      1686  2011-12-19 00:00:00  2011-12-25 00:00:00       2011          12
104      1687  2011-12-26 00:00:00  2011-12-31 00:00:00       2011          12

In [206]:
df_weath.head()

,WBAN,YYYYMMDD,Tmax,TmaxFlag,Tmin,TminFlag,Tavg,TavgFlag,Depart,DepartFlag,...,AvgSpeed,AvgSpeedFlag,Max5Speed,Max5SpeedFlag,Max5Dir,Max5DirFlag,Max2Speed,Max2SpeedFlag,Max2Dir,Max2DirFlag
0,23174,20100101,69,,50,,60,,3,,...,4.6,,26,,300,,18,,310,
1,23174,20100102,76,,55,,66,,9,,...,6.2,,22,,280,,17,,280,
2,23174,20100103,80,,52,,66,,9,,...,5.2,,17,,350,,12,,40,
3,23174,20100104,75,,53,,64,,7,,...,6.0,,16,,280,,13,,270,
4,23174,20100105,76,,52,,64,,7,,...,4.3,,21,,280,,17,,270,

In [207]:
#pd.to_datetime(pd.Series(date_stngs) DF.drop('column_name', axis=1, inplace=True)
df_weeks['m_in_date']=pd.to_datetime(df_weeks['date_min'])
df_weeks.drop('date_min', axis=1, inplace=True)

In [208]:
df_weeks['max_date']=pd.to_datetime(df_weeks['date_max'])
df_weeks.drop('date_max', axis=1, inplace=True)

In [240]:
df_weath['num_date']=df_weath['YYYYMMDD'].astype('int')
#df_weath['date']=pd.to_datetime(df_weath['num_date']) ## this didn't work  1970-01-01 00:00:00.020100101
#df_weath.drop('YYYYMMDD', axis=1, inplace=True)
#mydf['CigarNum'] = mydf['CigarNum'].convert_objects(convert_numeric=True)

In [241]:
df_weath['num_date'].apply(pd.to_datetime, dayfirst=False)

0      1970-01-01 00:00:00.020100101
1      1970-01-01 00:00:00.020100102
2      1970-01-01 00:00:00.020100103
3      1970-01-01 00:00:00.020100104
4      1970-01-01 00:00:00.020100105
5      1970-01-01 00:00:00.020100106
6      1970-01-01 00:00:00.020100107
7      1970-01-01 00:00:00.020100108
8      1970-01-01 00:00:00.020100109
9      1970-01-01 00:00:00.020100110
10     1970-01-01 00:00:00.020100111
11     1970-01-01 00:00:00.020100112
12     1970-01-01 00:00:00.020100113
13     1970-01-01 00:00:00.020100114
14     1970-01-01 00:00:00.020100115
15     1970-01-01 00:00:00.020100116
16     1970-01-01 00:00:00.020100117
17     1970-01-01 00:00:00.020100118
18     1970-01-01 00:00:00.020100119
19     1970-01-01 00:00:00.020100120
20     1970-01-01 00:00:00.020100121
21     1970-01-01 00:00:00.020100122
22     1970-01-01 00:00:00.020100123
23     1970-01-01 00:00:00.020100124
24     1970-01-01 00:00:00.020100125
25     1970-01-01 00:00:00.020100126
26     1970-01-01 00:00:00.020100127
27     1970-01-01 00:00:00.020100128
28     1970-01-01 00:00:00.020100129
29     1970-01-01 00:00:00.020100130
                    ...
1368   1970-01-01 00:00:00.020111101
1369   1970-01-01 00:00:00.020111102
1370   1970-01-01 00:00:00.020111103
1371   1970-01-01 00:00:00.020111104
1372   1970-01-01 00:00:00.020111105
1373   1970-01-01 00:00:00.020111106
1374   1970-01-01 00:00:00.020111107
1375   1970-01-01 00:00:00.020111108
1376   1970-01-01 00:00:00.020111109
1377   1970-01-01 00:00:00.020111110
1378   1970-01-01 00:00:00.020111111
1379   1970-01-01 00:00:00.020111112
1380   1970-01-01 00:00:00.020111113
1381   1970-01-01 00:00:00.020111114
1382   1970-01-01 00:00:00.020111115
1383   1970-01-01 00:00:00.020111116
1384   1970-01-01 00:00:00.020111117
1385   1970-01-01 00:00:00.020111118
1386   1970-01-01 00:00:00.020111119
1387   1970-01-01 00:00:00.020111120
1388   1970-01-01 00:00:00.020111121
1389   1970-01-01 00:00:00.020111122
1390   1970-01-01 00:00:00.020111123
1391   1970-01-01 00:00:00.020111124
1392   1970-01-01 00:00:00.020111125
1393   1970-01-01 00:00:00.020111126
1394   1970-01-01 00:00:00.020111127
1395   1970-01-01 00:00:00.020111128
1396   1970-01-01 00:00:00.020111129
1397   1970-01-01 00:00:00.020111130
Name: num_date, dtype: datetime64[ns]

In [234]:
df_weath['date'].head()

0   1970-01-01 00:00:00.020100101
1   1970-01-01 00:00:00.020100102
2   1970-01-01 00:00:00.020100103
3   1970-01-01 00:00:00.020100104
4   1970-01-01 00:00:00.020100105
Name: date, dtype: datetime64[ns]

In [232]:
df_weath.drop('num_date',axis=1, inplace=True)

In [221]:
df_weath.drop('date', axis=1, inplace=True)

In [222]:
df_weath['date'].head()

KeyError: 'date'

In [217]:
'''for idx,row in gy_rev_df.iterrows():
    
    h1 = normhist(row[2])
    h2 = normhist(row[3])'''

cnt=0
for idx1,row1 in df_weath.iterrows():
    cnt+=1
    if (cnt < 20):
        print row1[1]

20100101
20100102
20100103
20100104
20100105
20100106
20100107
20100108
20100109
20100110
20100111
20100112
20100113
20100114
20100115
20100116
20100117
20100118
20100119

In [211]:
df_weeks['m_in_date'][0] < df_weeks['m_in_date'][1]

True

In [144]:
np.unique(df_mysqls2[df_mysqls2.columns[1]].values)

array([1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1596,
       1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607,
       1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618,
       1619, 1620, 1621, 1622, 1623, 1624, 1625, 1635, 1636, 1637, 1638,
       1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649,
       1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660,
       1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671,
       1672, 1673, 1674])

In [151]:
for i in df_mysqls2.columns:
    x=len(np.unique(df_mysqls2[i].values)) # need values not text?
    print i,x, "first"
    if(x<7):
        print type(df_mysqls2[i][0]),np.unique(df_mysqls2[i].values)

IRI_Key 1 first
<type 'numpy.int64'> [200272]
WEEK_KEY 80 first
OUTLET 1 first

KeyError: 0

In [ ]:
df_mysql.shape,len(df_mysql['DESCRIPTION'].unique()),df_mysql.columns,df_mysql.head(20)

In [ ]:
def convert_week(x):
    start_epoch_arr= x.values.astype(int)
    end_epoch_arr= np.array(start_epoch_arr)
    
    start_epoch_arr= (start_epoch_arr-400)*7+31900-6
    start_epoch_arr = (start_epoch_arr-25569) * 86400
    
    end_epoch_arr = (end_epoch_arr-400)*7+31900
    end_epoch_arr= (end_epoch_arr-25569) * 86400
    
    return (start_epoch_arr, end_epoch_arr)

def get_transaction_time(x, start_epoch_arr):
    transaction_time_epoch_arr= x.values.astype(int)
    transaction_time_epoch_arr= start_epoch_arr + (transaction_time_epoch_arr * 60)
    return transaction_time_epoch_arr

def get_datetime(transaction_time_epoch_arr):
    t_shape= np.shape(transaction_time_epoch_arr)
    month_arr= np.zeros(t_shape, dtype=int)
    day_arr=np.zeros(t_shape, dtype=int)
    year_arr= np.zeros(t_shape, dtype=int)
    hour_arr= np.zeros(t_shape, dtype=int)
    minute_arr= np.zeros(t_shape, dtype=int)
    dayofweek_arr= np.zeros(t_shape, dtype=int)
    week_num_arr= np.zeros(t_shape, dtype=int)
    
    for i in xrange(t_shape[0]):
        t_time= transaction_time_epoch_arr[i]
        dt= datetime.datetime.utcfromtimestamp(t_time)
        month_arr[i]= dt.month
        day_arr[i]= dt.day
        year_arr[i]= dt.year
        hour_arr[i]= dt.hour
        minute_arr[i]= dt.minute
        dayofweek_arr[i]= dt.weekday()
        week_num_arr[i]= dt.isocalendar()[1]
    
    return (month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr, week_num_arr)

In [ ]:
def parse_colupc(colupc_arr):
    t_shape= np.shape(colupc_arr)
    sy_arr= np.zeros(t_shape, dtype=int)
    ge_arr=np.zeros(t_shape, dtype=int)
    vend_arr= np.zeros(t_shape, dtype=int)
    item_arr= np.zeros(t_shape, dtype=int)
    for i, colupc in enumerate(colupc_arr):
        assert len(colupc) == 13
        # sy, gen, vend, item
        m_as= [colupc[:2], colupc[2:3], colupc[3:8], colupc[8:]]
        m_outs= [sy_arr, ge_arr, vend_arr, item_arr]
        for j in xrange(4):
            a= m_as[j]
            out= m_outs[j]
            out[i]= int(a)
    return (sy_arr, ge_arr, vend_arr, item_arr)

In [ ]:
def parse_df(my_df):
    m_df = my_df
    
    s_week_df= m_df["WEEK_KEY"]
    start_time_epoch_arr, end_time_epoch_arr= convert_week(s_week_df)
    r1= pd.DataFrame({
        'START_TIME_EPOCH_S' : start_time_epoch_arr
    })
    r2= pd.DataFrame({
        'END_TIME_EPOCH_S' : end_time_epoch_arr
    })
    m_df= pd.concat([m_df, r1, r2], axis=1)
    #
    s_minute_df= m_df["MINUTE_KEY"]
    transaction_time_epoch_arr= get_transaction_time(s_minute_df, start_time_epoch_arr)
    t_result= pd.DataFrame({
        'TRANSACTION_TIME_EPOCH_S' : transaction_time_epoch_arr
    })
    # extract month, day, year, hour, minute
    month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr, week_num_arr= get_datetime(transaction_time_epoch_arr)
    r1= pd.DataFrame({
        'MONTH' : month_arr
    })
    r2= pd.DataFrame({
        'DAY' : day_arr
    })
    r3= pd.DataFrame({
        'YEAR' : year_arr
    })
    r4= pd.DataFrame({
        'HOUR_OF_DAY' : hour_arr
    })
    r5= pd.DataFrame({
        'MINUTE' : minute_arr
    })
    r6= pd.DataFrame({
        'DAYOFWEEK' : dayofweek_arr
    })
    r7= pd.DataFrame({
        'WEEKNUM' : week_num_arr
    })
    m_df.drop("MINUTE_KEY", axis=1, inplace=True)
    #m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6, r7], axis=1)
    m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6, r7], axis=1)
    
    # Parse COLUPC to SY GE VEND ITEM
    # 18417375121 ->   
    #  item: 75121
    #  vender: 84173
    #  generation: 1
    #  system: 00 (zero padded)
    #s_colupc_df= m_df["COLUPC"]
    #sy_arr, ge_arr, vend_arr, item_arr = parse_colupc(s_colupc_df)
    #r1= pd.DataFrame({
    #    'SY' : sy_arr
    #})
    #r2= pd.DataFrame({
    #    'GE' : ge_arr
    #})
    #r3= pd.DataFrame({
    #    'VEND' : vend_arr
    #})
    #r4= pd.DataFrame({
    #    'ITEM' : item_arr
    #})
    #m_df= pd.concat([m_df, r1, r2, r3, r4], axis=1)
    
    return m_df

In [ ]:
new_df = parse_df(df_mysql)

In [ ]:
new_df.shape

In [ ]:
new_df.head()

In [ ]:
new_df.columns

In [ ]:
t_df = new_df.groupby(['DAY', 'DESCRIPTION'])['DOLLARS'].sum()

In [ ]:
t_df