First Version
Abhijeet

In [1]:
import pandas as pd
import numpy as np
from pandas.core.series import Series
import glob
import datetime

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [26]:
import mysql.connector

In [27]:
config = {
  'user': 'jlevin',
  'password': 'ucsdcapstone',
  'host': 'mandrake.arvixe.com',
  'database': 'heavylifters',
  'raise_on_warnings': True,
}

conn = mysql.connector.connect(**config)

#conn.close()

In [5]:
#cursor = conn.cursor()

#query = ("SELECT * FROM heavylifters.raw_data_product_2011 LIMIT 20;")
#query = ("SELECT * FROM heavylifters.data_panel_08_to_11 LIMIT 20;")
query = ("SELECT PANID, MINUTE_KEY, UNITS, dp.OUTLET, DOLLARS, dp.IRI_KEY, COLUPC , dp.DATE_YEAR, dp.CATEGORY , \
          WEEK_KEY, left(COLUPC,2)/1 as SY, MID(colupc,3,2) as GE, MID(colupc,5,5) as VEND, \
          MID(colupc,9,5)/1 as ITEM, MINUTE_KEY/1440, MARKET_NAME, DESCRIPTION \
          FROM heavylifters.data_panel_08_to_11 as dp \
          join data_delivery_stores_01_to_11 as ds \
          on dp.IRI_KEY = ds.IRI_KEY \
          join dim_category as dc \
          on dp.CATEGORY = dc.CATEGORY\
          and dp.Date_Year = ds.Date_Year \
          where dp.Date_Year = 2011 ORDER by Market_Name LIMIT 5000;")

In [6]:
df_mysql = pd.read_sql(query, con=conn)    
print 'loaded dataframe from MySQL. records:', len(df_mysql)

loaded dataframe from MySQL. records: 5000

In [30]:
#cursor = conn.cursor()

#query = ("SELECT * FROM heavylifters.raw_data_product_2011 LIMIT 20;")
#query = ("SELECT * FROM heavylifters.data_panel_08_to_11 LIMIT 20;")
query2 = ("SELECT distinct sp11.IRI_Key,sp11.OUTLET,sp11.WEEK_KEY,ds.Market_Name, \
ds.Date_Year,ds.MskdName,ds.OPEN_WEEK,ds.CLSD_WEEK,ds.EST_ACV,ds.Date_Year, \
sp11.CATEGORY,sp11.OUTLET,sp11.DOLLARS,sp11.UNITS,sp11.Count_Rows \
FROM data_delivery_stores_01_to_11 as ds, summary_product_2011 as sp11 \
WHERE ds.Market_Name='LOS ANGELES' OR ds.Market_Name='CHICAGO' \
and ds.IRI_KEY = sp11.IRI_Key LIMIT 1000;")

In [31]:
df_mysqls2 = pd.read_sql(query2, con=conn)    
print 'loaded dataframe from MySQL. records:', len(df_mysqls2)

loaded dataframe from MySQL. records: 5000

In [33]:
#cursor.close()
conn.close()

In [35]:
df_mysqls2.columns,df_mysqls2.head(20)

(Index([u'IRI_Key', u'OUTLET', u'WEEK_KEY', u'Market_Name', u'Date_Year',
        u'MskdName', u'OPEN_WEEK', u'CLSD_WEEK', u'EST_ACV', u'Date_Year',
        u'CATEGORY', u'OUTLET', u'DOLLARS', u'UNITS', u'Count_Rows'],
       dtype='object'),
     IRI_Key OUTLET  WEEK_KEY  Market_Name  Date_Year    MskdName  OPEN_WEEK  \
 0    200272     GK      1635  LOS ANGELES       2011  Chain104\r        873
 1    200272     GK      1635  LOS ANGELES       2011  Chain104\r        473
 2    200272     GK      1635  LOS ANGELES       2011  Chain104\r        873
 3    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 4    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1093
 5    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 6    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 7    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 8    200272     GK      1635  LOS ANGELES       2011  Chain75 \r        471
 9    200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 10   200272     GK      1635  LOS ANGELES       2011  Chain75 \r        797
 11   200272     GK      1635  LOS ANGELES       2011  Chain104\r       1593
 12   200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 13   200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 14   200272     GK      1635  LOS ANGELES       2011  Chain75 \r        547
 15   200272     GK      1635  LOS ANGELES       2011  Chain104\r       1381
 16   200272     GK      1635  LOS ANGELES       2011  Chain75 \r        983
 17   200272     GK      1635  LOS ANGELES       2011  Chain94 \r       1092
 18   200272     GK      1635  LOS ANGELES       2011  Chain75 \r       1208
 19   200272     GK      1635  LOS ANGELES       2011  Chain104\r        473

     CLSD_WEEK  EST_ACV  Date_Year CATEGORY OUTLET  DOLLARS  UNITS  Count_Rows
 0        9998   10.835       2011       BL     GK   222.01     19          12
 1        9998   18.336       2011       BL     GK   222.01     19          12
 2        9998   18.666       2011       BL     GK   222.01     19          12
 3        9998   35.072       2011       BL     GK   222.01     19          12
 4        9998   34.555       2011       BL     GK   222.01     19          12
 5        9998   22.742       2011       BL     GK   222.01     19          12
 6        9998   19.609       2011       BL     GK   222.01     19          12
 7        9998   26.477       2011       BL     GK   222.01     19          12
 8        9998   28.623       2011       BL     GK   222.01     19          12
 9        9998   23.021       2011       BL     GK   222.01     19          12
 10       9998   27.769       2011       BL     GK   222.01     19          12
 11       9998   26.429       2011       BL     GK   222.01     19          12
 12       9998   22.339       2011       BL     GK   222.01     19          12
 13       9998   24.840       2011       BL     GK   222.01     19          12
 14       9998   20.123       2011       BL     GK   222.01     19          12
 15       9998   16.792       2011       BL     GK   222.01     19          12
 16       9998   26.322       2011       BL     GK   222.01     19          12
 17       9998   28.219       2011       BL     GK   222.01     19          12
 18       9998   21.972       2011       BL     GK   222.01     19          12
 19       9998   21.728       2011       BL     GK   222.01     19          12  )

In [25]:
for i in df_mysql.columns:
    x=len(df_mysql[i].unique())
    print i,x
    if(x<7):
        print type(df_mysql[i][0]),df_mysql[i].unique()

PANID 684
MINUTE_KEY 2678
UNITS 11
OUTLET 2
<type 'unicode'> [u'G' u'D']
DOLLARS 413
IRI_KEY 2
<type 'numpy.int64'> [257871 651444]
COLUPC 540
DATE_YEAR 1
<type 'numpy.int64'> [2011]
CATEGORY 3
<type 'unicode'> [u'BL' u'BR' u'CB']
WEEK_KEY 52
SY 6
<type 'numpy.float64'> [  0.  88.   8.   3.   6.   7.]
GE 29
VEND 153
ITEM 523
MINUTE_KEY/1440 2678
MARKET_NAME 1
<type 'unicode'> [u'EAU CLAIRE']
DESCRIPTION 3
<type 'unicode'> [u'Blades' u'Beer' u'Carbonated Beverages']

In [17]:
df_mysql.shape,len(df_mysql['DESCRIPTION'].unique()),df_mysql.columns,df_mysql.head(20)

((5000, 17),
 3,
 Index([u'PANID', u'MINUTE_KEY', u'UNITS', u'OUTLET', u'DOLLARS', u'IRI_KEY',
        u'COLUPC', u'DATE_YEAR', u'CATEGORY', u'WEEK_KEY', u'SY', u'GE',
        u'VEND', u'ITEM', u'MINUTE_KEY/1440', u'MARKET_NAME', u'DESCRIPTION'],
       dtype='object'),
       PANID  MINUTE_KEY  UNITS OUTLET  DOLLARS  IRI_KEY          COLUPC  \
 0   3104844        2108      1      G     0.99   257871  0012429129059
 1   3169318        7765      1      G     0.99   257871  0012429129059
 2   3377705        6570      1      G     0.99   257871  0012429129059
 3   3129692        6654      1      G     4.19   257871  8849999874528
 4   3343079        5529      1      G     4.19   257871  8849999874528
 5   3154823        9741      1      G    17.49   257871  0014740007400
 6   3109108         458      1      G    17.39   257871  0014740007404
 7   3109108        1963      1      G     7.89   257871  0014740007811
 8   3136408         499      1      G     7.89   257871  0014740011015
 9   3307959        2173      1      G     7.89   257871  0014740011015
 10  3171843        3493      1      G     3.59   257871  0014740011036
 11  3335075        1486      1      G     8.59   257871  0014740011579
 12  3336750         862      1      G     8.59   257871  0014740011579
 13  3824383        6741      1      G     8.79   257871  0014740030072
 14  3179093        6547      1      G    10.99   257871  0014740030376
 15  3325050        3826      1      G    19.69   257871  0014740031885
 16  3101220        3779      1      G     3.49   257871  0017033070841
 17  3140863        9393      1      G     3.49   257871  0017033070841
 18  3321448        7870      1      G     3.49   257871  0017033070841
 19  3321448        7825      1      G     3.49   257871  0017033070841

     DATE_YEAR CATEGORY  WEEK_KEY  SY  GE   VEND   ITEM  MINUTE_KEY/1440  \
 0        2011       BL      1653   0  12  42912  29059           1.4639
 1        2011       BL      1646   0  12  42912  29059           5.3924
 2        2011       BL      1656   0  12  42912  29059           4.5625
 3        2011       BL      1678  88  49  99987  74528           4.6208
 4        2011       BL      1651  88  49  99987  74528           3.8396
 5        2011       BL      1658   0  14  74000   7400           6.7646
 6        2011       BL      1639   0  14  74000   7404           0.3181
 7        2011       BL      1648   0  14  74000   7811           1.3632
 8        2011       BL      1681   0  14  74001  11015           0.3465
 9        2011       BL      1662   0  14  74001  11015           1.5090
 10       2011       BL      1644   0  14  74001  11036           2.4257
 11       2011       BL      1649   0  14  74001  11579           1.0319
 12       2011       BL      1645   0  14  74001  11579           0.5986
 13       2011       BL      1661   0  14  74003  30072           4.6813
 14       2011       BL      1644   0  14  74003  30376           4.5465
 15       2011       BL      1645   0  14  74003  31885           2.6569
 16       2011       BL      1649   0  17  03307  70841           2.6243
 17       2011       BL      1643   0  17  03307  70841           6.5229
 18       2011       BL      1639   0  17  03307  70841           5.4653
 19       2011       BL      1662   0  17  03307  70841           5.4340

    MARKET_NAME DESCRIPTION
 0   EAU CLAIRE      Blades
 1   EAU CLAIRE      Blades
 2   EAU CLAIRE      Blades
 3   EAU CLAIRE      Blades
 4   EAU CLAIRE      Blades
 5   EAU CLAIRE      Blades
 6   EAU CLAIRE      Blades
 7   EAU CLAIRE      Blades
 8   EAU CLAIRE      Blades
 9   EAU CLAIRE      Blades
 10  EAU CLAIRE      Blades
 11  EAU CLAIRE      Blades
 12  EAU CLAIRE      Blades
 13  EAU CLAIRE      Blades
 14  EAU CLAIRE      Blades
 15  EAU CLAIRE      Blades
 16  EAU CLAIRE      Blades
 17  EAU CLAIRE      Blades
 18  EAU CLAIRE      Blades
 19  EAU CLAIRE      Blades  )

In [13]:
def convert_week(x):
    start_epoch_arr= x.values.astype(int)
    end_epoch_arr= np.array(start_epoch_arr)
    
    start_epoch_arr= (start_epoch_arr-400)*7+31900-6
    start_epoch_arr = (start_epoch_arr-25569) * 86400
    
    end_epoch_arr = (end_epoch_arr-400)*7+31900
    end_epoch_arr= (end_epoch_arr-25569) * 86400
    
    return (start_epoch_arr, end_epoch_arr)

def get_transaction_time(x, start_epoch_arr):
    transaction_time_epoch_arr= x.values.astype(int)
    transaction_time_epoch_arr= start_epoch_arr + (transaction_time_epoch_arr * 60)
    return transaction_time_epoch_arr

def get_datetime(transaction_time_epoch_arr):
    t_shape= np.shape(transaction_time_epoch_arr)
    month_arr= np.zeros(t_shape, dtype=int)
    day_arr=np.zeros(t_shape, dtype=int)
    year_arr= np.zeros(t_shape, dtype=int)
    hour_arr= np.zeros(t_shape, dtype=int)
    minute_arr= np.zeros(t_shape, dtype=int)
    dayofweek_arr= np.zeros(t_shape, dtype=int)
    week_num_arr= np.zeros(t_shape, dtype=int)
    
    for i in xrange(t_shape[0]):
        t_time= transaction_time_epoch_arr[i]
        dt= datetime.datetime.utcfromtimestamp(t_time)
        month_arr[i]= dt.month
        day_arr[i]= dt.day
        year_arr[i]= dt.year
        hour_arr[i]= dt.hour
        minute_arr[i]= dt.minute
        dayofweek_arr[i]= dt.weekday()
        week_num_arr[i]= dt.isocalendar()[1]
    
    return (month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr, week_num_arr)

In [14]:
def parse_colupc(colupc_arr):
    t_shape= np.shape(colupc_arr)
    sy_arr= np.zeros(t_shape, dtype=int)
    ge_arr=np.zeros(t_shape, dtype=int)
    vend_arr= np.zeros(t_shape, dtype=int)
    item_arr= np.zeros(t_shape, dtype=int)
    for i, colupc in enumerate(colupc_arr):
        assert len(colupc) == 13
        # sy, gen, vend, item
        m_as= [colupc[:2], colupc[2:3], colupc[3:8], colupc[8:]]
        m_outs= [sy_arr, ge_arr, vend_arr, item_arr]
        for j in xrange(4):
            a= m_as[j]
            out= m_outs[j]
            out[i]= int(a)
    return (sy_arr, ge_arr, vend_arr, item_arr)

In [15]:
def parse_df(my_df):
    m_df = my_df
    
    s_week_df= m_df["WEEK_KEY"]
    start_time_epoch_arr, end_time_epoch_arr= convert_week(s_week_df)
    r1= pd.DataFrame({
        'START_TIME_EPOCH_S' : start_time_epoch_arr
    })
    r2= pd.DataFrame({
        'END_TIME_EPOCH_S' : end_time_epoch_arr
    })
    m_df= pd.concat([m_df, r1, r2], axis=1)
    #
    s_minute_df= m_df["MINUTE_KEY"]
    transaction_time_epoch_arr= get_transaction_time(s_minute_df, start_time_epoch_arr)
    t_result= pd.DataFrame({
        'TRANSACTION_TIME_EPOCH_S' : transaction_time_epoch_arr
    })
    # extract month, day, year, hour, minute
    month_arr, day_arr, year_arr, hour_arr, minute_arr, dayofweek_arr, week_num_arr= get_datetime(transaction_time_epoch_arr)
    r1= pd.DataFrame({
        'MONTH' : month_arr
    })
    r2= pd.DataFrame({
        'DAY' : day_arr
    })
    r3= pd.DataFrame({
        'YEAR' : year_arr
    })
    r4= pd.DataFrame({
        'HOUR_OF_DAY' : hour_arr
    })
    r5= pd.DataFrame({
        'MINUTE' : minute_arr
    })
    r6= pd.DataFrame({
        'DAYOFWEEK' : dayofweek_arr
    })
    r7= pd.DataFrame({
        'WEEKNUM' : week_num_arr
    })
    m_df.drop("MINUTE_KEY", axis=1, inplace=True)
    #m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6, r7], axis=1)
    m_df= pd.concat([m_df, t_result, r1, r2, r3, r4, r5, r6, r7], axis=1)
    
    # Parse COLUPC to SY GE VEND ITEM
    # 18417375121 ->   
    #  item: 75121
    #  vender: 84173
    #  generation: 1
    #  system: 00 (zero padded)
    #s_colupc_df= m_df["COLUPC"]
    #sy_arr, ge_arr, vend_arr, item_arr = parse_colupc(s_colupc_df)
    #r1= pd.DataFrame({
    #    'SY' : sy_arr
    #})
    #r2= pd.DataFrame({
    #    'GE' : ge_arr
    #})
    #r3= pd.DataFrame({
    #    'VEND' : vend_arr
    #})
    #r4= pd.DataFrame({
    #    'ITEM' : item_arr
    #})
    #m_df= pd.concat([m_df, r1, r2, r3, r4], axis=1)
    
    return m_df

In [16]:
new_df = parse_df(df_mysql)

In [17]:
new_df.shape

(30000, 26)

In [18]:
new_df.head()

,PANID,UNITS,OUTLET,DOLLARS,IRI_KEY,COLUPC,DATE_YEAR,CATEGORY,WEEK_KEY,SY,...,START_TIME_EPOCH_S,END_TIME_EPOCH_S,TRANSACTION_TIME_EPOCH_S,MONTH,DAY,YEAR,HOUR_OF_DAY,MINUTE,DAYOFWEEK,WEEKNUM
0,3104844,1,G,0.99,257871,0012429129059,2011,BL,1653,0,...,1304294400,1304812800,1304420880,5,3,2011,11,8,1,18
1,3169318,1,G,0.99,257871,0012429129059,2011,BL,1646,0,...,1300060800,1300579200,1300526700,3,19,2011,9,25,5,11
2,3377705,1,G,0.99,257871,0012429129059,2011,BL,1656,0,...,1306108800,1306627200,1306503000,5,27,2011,13,30,4,21
3,3129692,1,G,4.19,257871,8849999874528,2011,BL,1678,88,...,1319414400,1319932800,1319813640,10,28,2011,14,54,4,43
4,3343079,1,G,4.19,257871,8849999874528,2011,BL,1651,88,...,1303084800,1303603200,1303416540,4,21,2011,20,9,3,16

In [19]:
new_df.columns

Index([                   u'PANID',                    u'UNITS',
                         u'OUTLET',                  u'DOLLARS',
                        u'IRI_KEY',                   u'COLUPC',
                      u'DATE_YEAR',                 u'CATEGORY',
                       u'WEEK_KEY',                       u'SY',
                             u'GE',                     u'VEND',
                           u'ITEM',          u'MINUTE_KEY/1440',
                    u'MARKET_NAME',              u'DESCRIPTION',
             u'START_TIME_EPOCH_S',         u'END_TIME_EPOCH_S',
       u'TRANSACTION_TIME_EPOCH_S',                    u'MONTH',
                            u'DAY',                     u'YEAR',
                    u'HOUR_OF_DAY',                   u'MINUTE',
                      u'DAYOFWEEK',                  u'WEEKNUM'],
      dtype='object')

In [20]:
t_df = new_df.groupby(['DAY', 'DESCRIPTION'])['DOLLARS'].sum()

In [23]:
t_df

DAY  DESCRIPTION
1    Beer                     712.7100
     Blades                     8.7900
     Carbonated Beverages    2133.6261
     Cigarettes               530.9200
     Cold Cereal              134.5400
     Deodorant                 25.5500
     Facial Tissue             74.1900
     Frozen Dinner            631.4700
     Frozen Pizza             540.6500
     Hotdog                   174.4900
     Household Cleaners        38.4100
     Laundry Detergent        124.5100
     Margarine Butter          30.8600
2    Beer                     942.8100
     Blades                     7.0800
     Carbonated Beverages    1831.5500
     Cigarettes               625.9000
     Cold Cereal              154.5500
     Deodorant                  8.5700
     Facial Tissue             87.2600
     Frozen Dinner            681.0700
     Frozen Pizza             607.1100
     Hotdog                   187.6100
     Household Cleaners        30.0100
     Laundry Detergent        203.8100
     Margarine Butter          46.5900
3    Beer                     876.5400
     Blades                     0.9900
     Carbonated Beverages    1591.7300
     Cigarettes               634.3500
                               ...
29   Frozen Dinner            384.3100
     Frozen Pizza             476.5200
     Hotdog                   224.4800
     Household Cleaners        36.7400
     Laundry Detergent        233.6200
     Margarine Butter          49.7500
30   Beer                     871.2000
     Carbonated Beverages    1288.7700
     Cigarettes               670.8600
     Cold Cereal              110.7900
     Deodorant                 23.0600
     Facial Tissue             67.7600
     Frozen Dinner            400.1600
     Frozen Pizza             509.2700
     Hotdog                   201.2100
     Household Cleaners        23.1300
     Laundry Detergent        196.8900
     Margarine Butter          32.0500
31   Beer                     546.6600
     Carbonated Beverages    1008.9900
     Cigarettes               305.4600
     Cold Cereal              171.5200
     Deodorant                 16.8800
     Facial Tissue             47.3100
     Frozen Dinner            159.7300
     Frozen Pizza             230.6400
     Hotdog                    75.9600
     Household Cleaners        37.6700
     Laundry Detergent        150.2000
     Margarine Butter          24.7500
Name: DOLLARS, dtype: float64